<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--
      SF-Twin standard tool adapter

      Robot side:
          M0609 tool0

      Tool side:
          tool_mount

      Vendor-specific grippers must attach to tool_mount,
      not directly to tool0.
    -->
    <xacro:macro name="m0609_tool_adapter" params="
        parent
        adapter_link:=sf_tool_adapter
        mount_link:=tool_mount
        xyz:='0 0 0'
        rpy:='0 0 0'
    ">

        <link name="${adapter_link}"/>

        <joint name="${parent}_to_${adapter_link}" type="fixed">
            <parent link="${parent}"/>
            <child link="${adapter_link}"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </joint>

        <link name="${mount_link}"/>

        <joint name="${adapter_link}_to_${mount_link}" type="fixed">
            <parent link="${adapter_link}"/>
            <child link="${mount_link}"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>

    </xacro:macro>

</robot>
